<div *ngFor="let text of course.annotation.text">
    <h5 class="center-align">
        {{text}}
    </h5>
</div>

<ul class="collection">
    <li  *ngFor="let content of course.annotation.content" class="collection-item">
        <h5 class="collection-item" *ngIf="!content.presentation">
        {{content.text}}
        </h5>
        <h5 *ngIf="content.presentation">
            <a class="collection-item" target="_blank" href="{{content.presentation}}">
                {{content.text}} <span class="secondary-content"><i class="material-icons">pageview</i></span>
            </a>
        </h5>
        <ul *ngIf="content.exams" class="collapsible collection" data-collapsible="accordion">
            <li *ngFor="let exam of content.exams">
                <a target="_blank" href="{{exam.link}}" class="collapsible-header">
                    {{exam.name}}
                </a>
            </li>
        </ul>
    </li>
</ul>