<div class="card-panel teal lighten-2 no-margin">
    <h5 class="center-align header">
        {{course.name}}
    </h5>

    <!--<p *ngFor="let text of course.annotation.text" class="center-align">{{text}}</p>-->
</div>

<ul class="collection no-margin">
    <li>
        <h6 class="collection-item">
            <a href="javascript:void(0)" (click)="showIntro()">
                {{course.courseTitle}}
            </a>
            <ul *ngIf="isIntroVisible" class="collapsible popout collection" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header">
                        <h6 class="collection-item">Преподавателски екип</h6>
                    </div>
                    <div class="collapsible-body">
                        <ul class="collapsible popout collection nested" data-collapsible="accordion">
                            <li>Николай Ставрев</li>
                            <li>Михаела Алексова</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <h6 class="collection-item">Цели на курса</h6>
                    <ul class="collapsible popout collection nested" data-collapsible="accordion">
                        <li>
                            {{course.annotation.text[0]}}
                        </li>
                        <li>
                            {{course.annotation.text[1]}}
                        </li>
                    </ul>
                </li>
                <li>
                    <h6 class="collection-item"> Умения </h6>
                    <ul class="collapsible popout collection nested">
                        <li>
                            {{course.annotation.text[2]}}
                        </li>
                        <li>
                            {{course.annotation.text[3]}}
                        </li>
                    </ul>
                </li>
                <li>
                    <h6 class="collection-item">Изисквания</h6>
                    <ul class="collapsible popout collection nested">
                        <li>
                            {{course.annotation.text[4]}}
                        </li>
                        <li>
                            {{course.annotation.text[5]}}
                        </li>
                        <li>
                            {{course.annotation.text[6]}}
                        </li>
                    </ul>
                </li>
                <li>
                    <h6 class="collection-item"> Оценяване </h6>
                    <ul class="collapsible popout collection nested">
                        <li>
                            <h6 class="collection-item">Оценка от контролни</h6>
                            <section class="last-level">
                                <p>
                                        Контролно 1 - 10%
                                </p>
                                <p>
                                        Контролно 2 - 20%
                                </p>
                            </section>
                        </li>
                        <li>
                            <h7 class="collection-item"> Оценка от изпит - 70% </h7>
                        </li>
                    </ul>
                </li>
                <li>
                    <h6 class="collection-item"> Литература </h6>
                    <ul class="collapsible popout collection nested">
                        <li>http://angular.io</li>
                    </ul>
                </li>
                <li>
                    <h6 class="collection-item">Структура на курса</h6>
                    <ul class="collapsible popout collection nested">
                        <li>
                            Лекции
                        </li>
                        <li>
                            Упражнения
                        </li>
                    </ul>
                </li>
                <li>
                    <h6 class="collection-item">График на лекции и упражнения</h6>
                    <table>
                        <thead>
                            <tr>
                                <td>
                                    Тема
                                </td>
                                <td class="second">
                                    Брой седмици
                                </td>
                                <td class="third">
                                    Хорариум
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let content of course.content; let i = index">
                                <td>
                                    {{content.text}}
                                </td>
                                <td>
                                    2 седмици
                                </td>
                                <td>
                                    2лек + 2упр
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </li>
                <!--<li *ngFor="let text of course.annotation.text" class="collapsible popout collection">-->
                    <!--{{text}}-->
                <!--</li>-->
            </ul>
        </h6>
    </li>
    <li class="collection-item">
        <h6 class="collection-item"><a href="javascript:void(0)" (click)="showLectures()">Лекции </a></h6>
    </li>
</ul>

<ul *ngIf="areLecturesVisible" class="collection no-margin">
    <li  *ngFor="let content of course.content" class="collection-item">
        <h6 class="collection-item" *ngIf="!content.presentation">
            {{content.text}}
        </h6>
        <h6 *ngIf="content.presentation">
            <a class="collection-item" target="_blank" href="{{content.presentation}}">
                {{content.text}} <span class="secondary-content"><i class="material-icons">pageview</i></span>
            </a>
        </h6>
        <ul *ngIf="content.exams" class="collapsible popout collection" data-collapsible="accordion">
            <li *ngFor="let exam of content.exams">
                <a target="_blank" href="{{exam.link}}" class="collapsible popout-header">
                    {{exam.name}}
                </a>
            </li>
        </ul>
    </li>
</ul>